<div class="div-background">
    <div class="div-login">
        <mat-card-title>Simple CRM</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <!-- [(selectedIndex)]="tabIndex.index" -->
            <mat-tab label="Sign In">
                <mat-card-content>
                    <form action="" [formGroup]="signInForm">
                        <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email" type="email" ngModel required
                                name="email" #email > <!-- #email="ngModel" -->
                                <mat-error *ngIf="email?.errors?.['required']"> Email is required</mat-error>
                                <mat-error *ngIf="email?.errors?.['email']"> Please enter a correct email format</mat-error>
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" #password
                                required minlength="6" name="password" ngModel formControlName="password">
                            <!-- #password="ngModel" -->
                            <mat-error>
                                <!-- *ngIf="password.errors && password.errors?.['required']" -->
                                Password is required
                            </mat-error>
                            <mat-error>
                                <!-- *ngIf="password.errors && password.errors?.['minlength']" -->
                                Password must be of length 6
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide">
                                <mat-icon style="font-size: 17.5px; margin-bottom: 5px;">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-checkbox>Remember me</mat-checkbox>
                        <button mat-raised-button color="primary" class="login-button"
                            > <!-- (click)="onSignin(email.value, password.value)" -->
                            <!-- (click)="onSignin(emailSignin.value, passwordSignin.value)" -->
                            Sign In
                        </button>
                        <p class="Loginerror"></p>

                    </form>
                </mat-card-content>
            </mat-tab>
            <mat-tab label="Sign Up">
                <mat-card-content>
                    <form action="" [formGroup]="signInForm">
                        <mat-form-field>
                            <input type="text" #usernameSignup matInput placeholder="User Name" required name="username"
                                minlength="6" ngModel formControlName="email"> <!-- #username="ngModel"  -->
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error>
                                <!-- *ngIf="username.invalid" -->
                                Username is required
                            </mat-error>

                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Email" type="text" #emailSignup required name="email" ngModel
                                formControlName="email"> <!-- #email="ngModel" -->
                            <mat-error>Email is required</mat-error> <!-- *ngIf="email.invalid" -->
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" #passwordSignup
                                required minlength="6" name="password" ngModel formControlName="email">
                            <!--  #password="ngModel" -->
                            <mat-error>
                                <!-- *ngIf="password.errors && password.errors?.['required']" -->
                                Password is required
                            </mat-error>
                            <mat-error>
                                <!-- *ngIf="password.errors && password.errors?.['minlength']" -->
                                Password must be of length 6
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide">
                                <mat-icon style="font-size: 17.5px; margin-bottom: 5px;">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" required
                                minlength="6" name="repassword" ngModel formControlName="email">
                            <!-- #repassword="ngModel" -->
                            <mat-error>
                                <!-- *ngIf="repassword.errors && repassword.errors?.['required']" -->
                                Re-Enter Password is required
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide">
                                <mat-icon style="font-size: 17.5px; margin-bottom: 5px;">{{hide ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <a mat-raised-button color="primary" class="login-button">
                            <!-- (click)="onSignup(usernameSignup.value, emailSignup.value, passwordSignup.value)" -->
                            Sign Up
                        </a>
                        <p class="error"></p>
                    </form>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>