form {
    padding: 15px 0px 0px 0px;
}

input::placeholder{
    opacity: 0;
}

input:focus::placeholder{
    opacity: 1;
}

.div-background {
    background-color: #3F51B5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-title {
    margin-bottom: 10px;
}

.div-login {
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 7px 8px -4px rgb(0 0 0 / 20%), 0px 12px 17px 2px rgb(0 0 0 / 14%), 0px 5px 22px 4px rgb(0 0 0 / 12%);
    padding: 25px;
}

.btn-login {
    cursor: pointer;
    background-color: white;
}

.login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #303F9F !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden;
}

.error {
    color: rgb(215, 110, 127);
    text-align: center;
    font-size: 16px;
}

.Loginerror {
    color: rgb(215, 110, 127);
    text-align: center;
    font-size: 16px;
}

mat-card {
    width: 80%;
    margin: 10% auto;
    border-radius: 8px;
    max-width: 400px;
}

mat-form-field,
mat-checkbox {
    width: 80%;
    display: block;
    margin: auto;
}

mat-card-content {
    margin-top: 20px;
}

.login-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;

    &:hover {
        background-color: rgb(50, 50, 212);
    }
}

/* .mat-form-field-appearance-legacy {
    font-size: 17.5px;
} */