.container{
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

mat-progress-bar{
    width: 400px;
}

.container-login{
    width: 400px;
    height: 350px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 7px -1px rgba(0,0,0,0.3);
    flex-direction: column;
}

form{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-btn{
    width: 320px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    button{
        width: 160px;

        &:hover{
            background-color: rgb(50, 50, 212);
        }
    }

    a{
        margin-top: 16px;
        font-size: medium;
        text-decoration: none;
        color: rgb(40, 40, 141);

        &:hover{
            cursor: pointer;
            color: rgb(50, 50, 212);
            text-decoration: underline;
        }
    }
}

mat-form-field{
    width: 320px;
    margin-bottom: 4px;
}