<!-- <div class="div-background">
    <div class="div-login">
        <mat-card-title>Simple CRM</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab label="Sign In">
                <mat-card-content>
                    <form [formGroup]="signInForm">
                        <mat-form-field>
                            <input matInput placeholder="Email" [formControl]="signInForm['controls']['email']"
                                type="email" ngModel required name="email" #email>
                            <mat-error *ngIf="signInForm['controls']['email'].errors?.['required']">Email is required
                            </mat-error>
                            <mat-error *ngIf="signInForm['controls']['email'].errors?.['email']">Please enter a correct
                                email format</mat-error>
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Password" [type]="hide1 ? 'password' : 'text'" #password
                                required minlength="6" name="password" ngModel
                                [formControl]="signInForm['controls']['password']">
                            <mat-error *ngIf="signInForm['controls']['password'].errors?.['required']">Password is required</mat-error>
                            <mat-error *ngIf="signInForm['controls']['password'].errors?.['minlength']">Password must be of length 6</mat-error>
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                                <mat-icon style="font-size: 17.5px; margin-bottom: 5px;">{{hide1 ? 'visibility_off' :
                                    'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <div class="div-rememberUserAndForgotPassword">
                            <mat-checkbox>Remember me</mat-checkbox>
                            <a style="width: 205px; text-decoration: none" routerLink="forgot-password">Forgot your password?</a>
                        </div>

                        <button mat-raised-button color="primary" class="login-button" [disabled]="!enableSubmitBtn1()">Sign In</button>
                    </form>
                </mat-card-content>
            </mat-tab>

            <mat-tab label="Sign Up">
                <mat-card-content>
                    <form [formGroup]="signUpForm">
                        <mat-form-field>
                            <input type="text" #usernameSignup matInput placeholder="Username" required name="username"
                                ngModel [formControl]="signUpForm['controls']['username']">
                            <mat-icon matSuffix>perm_identity</mat-icon>
                            <mat-error *ngIf="signUpForm['controls']['username'].errors?.['required']">Username is required</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Email" type="text" #emailSignup required name="email" ngModel
                                [formControl]="signUpForm['controls']['email']">
                            <mat-error *ngIf="signUpForm['controls']['email'].errors?.['required']">Email is required</mat-error>
                            <mat-error *ngIf="signUpForm['controls']['email'].errors?.['email']">Please enter a correct email format</mat-error>
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Password" [type]="hide2 ? 'password' : 'text'" #passwordSignup 
                                required minlength="6" name="password" ngModel [formControl]="signUpForm['controls']['password1']" formControlName="password1" (change)="onPasswordChange()">
                            <mat-error *ngIf="signUpForm['controls']['password1'].errors?.['required']">Password is required</mat-error>
                            <mat-error *ngIf="signUpForm['controls']['password1'].errors?.['minlength']">Password must be of length 6</mat-error>   
                            <mat-error *ngIf="password2.hasError('mismatch')"></mat-error>   
                            <button mat-icon-button matSuffix (click)="hide2 = !hide2">
                                <mat-icon style="font-size: 17.5px; margin-bottom: 5px;">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Password" [type]="hide3 ? 'password' : 'text'" required
                                minlength="6" name="repassword" ngModel [formControl]="signUpForm['controls']['password2']" formControlName="password2" (change)="onPasswordChange()">
                            <mat-error *ngIf="signUpForm['controls']['password2'].errors?.['required']">Password is required</mat-error>
                            <mat-error *ngIf="signUpForm['controls']['password2'].errors?.['minlength']">Password must be of length 6</mat-error>    
                            <button mat-icon-button matSuffix (click)="hide3 = !hide3">
                                <mat-icon style="font-size: 17.5px; margin-bottom: 5px;">{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <div class="txt-passwordsNotMatching" *ngIf="password2.hasError('mismatch') && password1.hasError('mismatch')">Passwords do not match</div>

                        <button mat-raised-button color="primary" class="login-button" [disabled]="!enableSubmitBtn2()">Sign Up</button>
                    </form>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>
        <a style="text-decoration: none" routerLink="home/dashboard">As guest</a>
    </div>
</div> -->

<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
      </div>
    </div>
  </div>