<div class="container-register">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Register</h1>
    <div mat-dialog-content>
        <div class="register-name">
            <form [formGroup]="signUpForm">
                <div>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Enter your email </mat-label>
                        <input value="email" formControlName="email" type="email" matInput placeholder="E-mail address"/>
                        <mat-error *ngIf="email?.errors?.['required']"> Email is required</mat-error>
                        <mat-error *ngIf="email?.errors?.['email']"> Please enter a correct email format</mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Enter your password</mat-label>
                    <input formControlName="password" matInput required
                        [type]="hide1 ? 'password' : 'text'" minlength="8"/>
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signUpForm.hasError('required', 'password')">
                        Please enter your newpassword
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Confirm your password</mat-label>
                    <input formControlName="confirmPassword" [errorStateMatcher]="matcher" required
                        matInput [type]="hide ? 'password' : 'text'" minlength="8"/>
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signUpForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close();">Cancel</button>
        <button [disabled]="signUpForm.invalid" mat-button (click)="onSignUp()">Sign in</button>
    </div>
</div>